@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.wrapper,
.porfolio {
  width: 100vw;
  height: 100vh;
  background-color: #311649;
  color: #fff;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
 
}
.menu li {
  list-style: none;
}
.menu a{
  color: #fff;
  text-decoration: none;
  padding: 7px 14px;
}
.navbar{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 1.5em;
  background-color: #311649;
  position: fixed;
  z-index: 100;
 
}
.menu .active {
  color: rgb(185, 218, 218);
}
.menu a:hover {
  background-color: aqua;
  color: #311649;
  transition: ease-in .4s;
}
.brand{
  margin-top: -8px;
}
.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;


}
h1{
  font-size: 3em;
}
span{
  color: aqua;
}
.download-cv{
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px -5px rgba(102, 231, 200, .69);

}
.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}
.main img {
  width: 420px;
  border: solid 7px aqua;
  margin-top: auto;
}
.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}
.about img {
  width: 100%;
  grid-column: 1/5;
 
  
}
.about-info{
  grid-column: 5/10;
  padding: 3em;
}
.about-info h2{
  font-size: 2em;
  color: #311649;
}
.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}
.about p {
  margin-bottom: 2em;
}
.porfolio {
  color: #fff;
}
.porfolio-headings {
  width: 100vw;
  padding: 1.5em;
}
.porfolio-headings h2 {
  font-size: 2em;
}

.porfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}
.card {
  width: 300px;
  height: 350px;
  background-color: #200f41;
  margin: 1em;
 
}
.card-image {
  width: 100%;
  height: 150px;
  background-image: url(../img/tres-bien.png);
  background-size: cover;
}
.card-image2 {
  width: 100%;
  height: 150px;
  background-image: url(../img/pokemon.png);
  background-size: cover;
}
.card-title {
  padding: 20px;
}
.card-projects-links {
  display: flex;
  justify-content: space-evenly;
}
.card-projects-links a {
  color:  #fff;
  text-decoration: none;
}


.card-projects-links i {
  font-size:  1.5em;
}
.card .projects-details{

  margin: 0 auto;
  margin: 1em;
  width: 70%;
}
.card .projects-details a {
  text-decoration: none;
  color: #311649;
  text-transform: uppercase;
}
.project-detail-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}
.contact-headings{
  padding: em;
}
.contact-headings h2 {
  font-size: 2em;
  color: #311649;
  
}
.container-contact{
  display: flex;
  padding: 3em;
  margin: 0 auto;
  align-items: center;
}
/* .contact-form{
  align-items: center;
} */
.container-contact img {
  width: 750px;
  margin-bottom: 0px;
  
}
.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  border: #311649 solid 1px;
  background-color: #311649;
  color: #fff;
}
.form textarea {
  height: 150px;
  padding: 1.5em;
  border: #311649 solid 1px;
  background-color: #311649;
  color: #fff;

}
.btn-submit{
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px -5px rgba(102, 231, 200, .69)
}
.btn-submit:hover {
  background-color:  #311649;
  color: #fff;
}
.footer {
  background-color: #311649;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
}
.footer-content h2{
  font-size: 3em;
  padding-right: 20px;
}
.footer-content h5,
.social-network{
  font-size: 1.5em;
 
}
.footer-content h5{
  margin-left: 30px;
}
.social-network{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
  
  
}
.social-network i{
  text-decoration: none;
  color: #fff;
}
