@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.wrapper,
.porfolio {
  width: 100vw;
  /* height: 100vh; */
  background-color: #311649;
  color: #fff;
  font-weight: 400;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
 
}
.menu li {
  list-style: none;
}
.menu a{
  color: #fff;
  text-decoration: none;
  padding: 7px 14px;
  font-weight: 400
}
.navbar{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 1.5em;
  background-color: #311649;
  position: fixed;
  z-index: 100;
 
}
.menu .active {
  color: rgb(185, 218, 218);
}
.menu a:hover {
  background-color: #5b5bb9;
  color:#fff;
  transition: ease-in .4s;
}
.toggle-menu,
.info_content_subtitle,
.info-content .social-network{
  
  display: none;
}
.brand{
  margin-top: -8px;
}
.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;


}
h1{
  font-size: clamp(4vw, 1.5em, 3em);
}
span{
  color:#5b5bb9;
}
.download-cv{
  padding: 10px 20px;
  background-color:#5b5bb9;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px -5px rgba(102, 231, 200, .69);

}
.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}
.main img {
  width: 420px;
  border: solid 7px#5b5bb9;
  margin-top: auto;
  margin-bottom: 30px;
}
.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  
}
.about img {
  max-width: 100%;
  grid-column: 1/5;
 
  
}
.about-info{
  grid-column: 5/10;
  padding: 3em;
  
}
.about-info h2{
  font-size: 2em;
  color: #311649;
}
.divider {
  height: 4px;
  width: 60px;
  background-color: #5b5bb9;
  margin-top: 5px;
  margin-bottom: 2em;
}
.about p {
  margin-bottom: 2em;
  
}
.about-info p{
  font-weight: 500;
  color: black;
}
.porfolio {
  color: #fff;
  
}
.porfolio-headings {
  width: 100vw;
  padding: 1.5em;
}
.porfolio-headings h2,
.contact-headings h2 {
  font-size: 2em;
}

.porfolio .container {
  width: 80vw;
  /* height: 80vh; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
 

  
}
.card {
  width: 300px;
  height: 350px;
  background-color: #200f41;
  margin: 1em;
 
}
.card-image {
  width: 100%;
  height: 150px;
  background-image: url(../img/tres-bien.png);
  background-size: cover;
}
.card-image2 {
  width: 100%;
  height: 150px;
  background-image: url(../img/pokemon.png);
  background-size: cover;
}
.card-title {
  padding: 20px;
}
.card-projects-links {
  display: flex;
  justify-content: space-evenly;
}
.card-projects-links a {
  color:  #fff;
  text-decoration: none;
}


.card-projects-links i {
  font-size:  1.5em;
}
.card .projects-details{

  margin: 0 auto;
  margin: 1em;
  width: 70%;
}
.card .projects-details a {
  text-decoration: none;
  color: #311649;
  text-transform: uppercase;
}
.project-detail-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
  
}
.project-detail{
  
  width: 80vw;
  align-items: center;
  justify-content: center;
}
.contact-headings{
  padding: em;
}
.contact-headings h2 {
  font-size: 2em;
  color: #311649;
  
}
.container-contact{
  display: flex;
  padding: 3em;
  margin: 0 auto;
  align-items: center;
}
/* .contact-form{
  align-items: center;
} */
.container-contact img {
  width: 750px;
  margin-bottom: 0px;
  
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  border: #311649 solid 1px;
  background-color: #311649;
  color: #fff;
}
.form textarea {
  height: 150px;
  padding: 1.5em;
  border: #311649 solid 1px;
  background-color: #311649;
  color: #fff;

}
.btn-submit{
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color:#5b5bb9;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px -5px rgba(121, 160, 238, 0.69);
  color: #fff;
  
}
.btn-submit:hover {
  background-color:  #311649;
  color: #fff;
}
.footer {
  background-color: #311649;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
}
.footer-content h2{
  font-size: 3em;
  padding-right: 20px;
}
.footer-content h5,
.social-network{
  font-size: 1.5em;
 
}
.footer-content h5{
  margin-left: 30px;
}
.social-network{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
  
  
}
.social-network i{
  text-decoration: none;
  color: #fff;
}
.invalido {
  border:1px solid red;
  background-color: red;
}
.errorMensaje{
  color: red;
  text-align: center;
  font-size: 20px;
}
.success{
  color:green;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 800px) {

  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #200f41;
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }
  .show-menu{
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }
  .menu li{
    margin: 2em;
   
  }
  /* .porfolio .container .card2{
    display: none;
    
    
  } */
  
  .toggle-menu{
    display: block;
  }
  .fa-bars {
    font-size: 1.5em;
  }
  .toggle-menu .fa-close{
    font-size: 1.7em;
    display: none;
  }
  .main,
  .about {
    display: flex;
    flex-direction: column-reverse
  }
  
  .main img {
    width: min(60%, 350px);
  }
  .info-content .social-network,
  .info_content_subtitle {
    display: block;
  }
  .info_content_subtitle {
    margin-top: 1em;
  }
  .info-content-p,
  .download-cv,
  .container-contact_img {
    display: none;
  }
  .form{
    width: 80vw;
  }
  .info-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .info-content .social-network{
    display: flex;
    justify-content: space-evenly;
  }
  .footer-content h2{
    font-size: 30px;
    margin-left: 37px;
    color: #5b5bb9;
  }
  
}


